<footer class="section-footer">
  <div class="section-footer__box">
    <span class="section-header__nav-box">
      <img src="/images/svg/logo.svg" alt="logo" class="section-header__nav-image" />
    </span>

    <ul class="footer-nav">
      <li class="footer-nav__item">
        <a href="#solution" class="footer-nav__item-link">Наша рішення</a>
      </li>
      <li class="footer-nav__item">
        <a href="#we" class="footer-nav__item-link">Хто ми</a>
      </li>
      <li class="footer-nav__item">
        <a href="#form" class="footer-nav__item-link">Допомога</a>
      </li>
      <li class="footer-nav__item">
        <a href="#contact" class="footer-nav__item-link">Контакти</a>
      </li>
    </ul>
    <p class="section-footer__box-text">© 2020 Всі права захищенні</p>
  </div>
</footer>