<header class="section-header">
  <div class="section-header__nav">
    <nav>
      <div class="container section-header__nav-wrapper">
        <span class="section-header__nav-box">
          <a href='#'>
            <img src="images/svg/logo.svg" alt="logo" class="section-header__nav-image" />
          </a>
        </span>
        <ul class="main-nav">
          <li class="main-nav__item">
            <a href='#solution' class="main-nav__item-link">
              Наша рішення
            </a>
          </li>
          <li class="main-nav__item">
            <a href='#we' class="main-nav__item-link">
              Хто ми
            </a>
          </li>
          <li class="main-nav__item">
            <a href='#form' class="main-nav__item-link">
              Допомога
            </a>
          </li>
          <li class="main-nav__item">
            <a href='#contact' class="main-nav__item-link">
              Контакти
            </a>
          </li>
        </ul>
        <button type="click" class="burger">
          <span class="burger__item"></span>
          <span class="burger__item"></span>
          <span class="burger__item"></span>
        </button>
      </div>
    </nav>
  </div>
  <div class="card-slider__wrapper">
    <button class="card-slider__button-arrow card-slider__button-arrow--left">
      <span class="card-slider__button-line"></span>
      <span class="card-slider__button-line"></span>
      <span class="card-slider__button-line"></span>
    </button>
    <button class="card-slider__button-arrow  card-slider__button-arrow--right">
      <span class="card-slider__button-line"></span>
      <span class="card-slider__button-line"></span>
      <span class="card-slider__button-line"></span>
    </button>
    <div class="section-header__slider">
      <article class="card-slider">
        <h3 class="card-slider__title">Ми робимо
          <br>
          <span class="card-slider__title--pink">
            класний бізнес
          </span>
        </h3>
        <p class="card-slider__text">Ми допоможемо вам зробити ваш бізнес успішним та прибутковим. Допомагаємо всім,
          хто
          цього хоче!</p>
        <button class="card-slider__button">Безкоштовна консультація </button>
      </article>
      <article class="card-slider">
        <h3 class="card-slider__title">Ми робимо
          <br>
          <span class="card-slider__title--pink">
            класний бізнес
          </span>
        </h3>
        <p class="card-slider__text">Ми допоможемо вам зробити ваш бізнес успішним та прибутковим. Допомагаємо всім,
          хто
          цього хоче!</p>
        <button class="card-slider__button">Безкоштовна консультація </button>
      </article>
      <article class="card-slider">
        <h3 class="card-slider__title">Ми робимо
          <br>
          <span class="card-slider__title--pink">
            класний бізнес
          </span>
        </h3>
        <p class="card-slider__text">Ми допоможемо вам зробити ваш бізнес успішним та прибутковим. Допомагаємо всім,
          хто
          цього хоче!</p>
        <button class="card-slider__button">Безкоштовна консультація </button>
      </article>
    </div>
  </div>
</header>