<section class="section-we" id="we">
  <div class="section-we__wrapper">
    <div class="section-we__box">
      <h3 class="section-we__box-title">Ми професіонали у ведденні бізнесу</h3>
      <p class="section-we__box-text">
        Ми настільки круті, що у нас стільки грошей, що нам немає сенсу вас обманювати.</p>
      <p class="section-we__box-text">
        Даємо зуб і хрест на пузі.</p>
      <button class="card-slider__button">Консультація</button>
    </div>
    <div class="section-we__wrapper-img">
      <img src="images/we.png">
    </div>
  </div>
</section>