<section class="section-solution" id="solution">
  <div class="section-solution__container">
    <h4 class="section-solution__subtitle">Наші рішення</h4>
    <h2 class="section-solution__title">У нас є <span class="section-solution__title--pink">3</span> вирішення проблеми
      для вашого бізнесу</h2>
    <article class="card-solution">
      <div class="card-solution__content">
        <h2 class="card-solution__title">01</h2>
        <p class="card-solution__text">Шукайте однодумців. Часто в бізнес набирають співробітників, аби закрити
          вакансію.
          Мені це нагадує, коли є готовий костюм і його пробують одягнути на всіх, кого заманеться, переконуючи в першу
          чергу самих себе, що він підходить ідеально. Рішення: Шукайте людей, лояльних до Вас, які переймуться місією
          Вашого бізнесу. Важливо мати помічників навіть у малому і середньому бізнесі. Кожен із нас має сильні
          сторони-розкривайте їх.</p>
      </div>
      <div class="card-solution__wrapper-info">
        <div class="card-solution__wrapper-image">
          <div class="card-solution__block">
            <span class="card-solution__block-icon">“</span>
            <p class="card-solution__block-text">Шукайте <br>однодумців</p>
            <span class="card-solution__block-icon">”</span>
          </div>
          <img src="images/solution-1.png" alt="solution-1">
        </div>
      </div>
    </article>

    <article class="card-solution">
      <div class="card-solution__content">
        <h2 class="card-solution__title">02</h2>
        <p class="card-solution__text">Бізнесмени часто тільки зациклюються над продажами і пошуком нових клієнтів. І
          якщо
          маєте напрацьовану базу клієнтів-добре. Рішення: Тепер вчіться з нею працювати. Якщо Ви маєте базу з 3000
          клієнтів, які у вас колись щось купили, дуже легко піднімете продажі на 40%.</p>
      </div>
      <div class="card-solution__wrapper-info">
        <div class="card-solution__wrapper-image">
          <div class="card-solution__block">
            <span class="card-solution__block-icon">“</span>
            <p class="card-solution__block-text">Збирайте базу <br>свої клієнтів</p>
            <span class="card-solution__block-icon">”</span>
          </div>
          <img src="images/solution-2.png" alt="solution-2">
        </div>
      </div>
    </article>

    <article class="card-solution">
      <div class="card-solution__content">
        <h2 class="card-solution__title">03</h2>
        <p class="card-solution__text">Як зараз виглядають більшість пропозицій: товар – ціна. Людям непросто прийняти
          рішення зупинитись саме на покупці вашого товару. Тому що звідусіль поступає маса всього і ще більше, ніж
          можна
          осмислити. Іде боротьба за увагу клієнта. Рішення: обов’язково ставте клієнтам обмеження по часу на прийняття
          рішення – це піднімає цінність ваших послуг.</p>
      </div>
      <div class="card-solution__wrapper-info">
        <div class="card-solution__wrapper-image">
          <div class="card-solution__block">
            <span class="card-solution__block-icon">“</span>
            <p class="card-solution__block-text">Ставте <br>обмеження по<br> часу</p>
            <span class="card-solution__block-icon">”</span>
          </div>
          <img src="images/solution-3.png" alt="solution-3">
        </div>
      </div>
    </article>
  </div>
</section>