<section id="contact" class="section-contact">
  <div class="section-form__wrapper-center">
    <div class="section-form__wrapper section-contact__wrapper">
      <h3 class="section-contact__title">Контакти</h3>
      <ul class="address-card">
        <li class="address-card__item address-card__item--active">
          <svg class="address-card__item-icon">
            <use xlink:href="#address"></use>
          </svg>
          <p class="address-card__item-text">Україна, м. Львів,<br> вул. Степана Гіги 45/2</p>
        </li>
        <li class="address-card__item">
          <svg class="address-card__item-icon">
            <use xlink:href="#address"></use>
          </svg>
          <p class="address-card__item-text">Україна, м. Львів,<br>
            вул. Павла Зіборва 45/2</p>
        </li>
        <li class="address-card__item">
          <svg class="address-card__item-icon">
            <use xlink:href="#address"></use>
          </svg>
          <p class="address-card__item-text">Україна, м. Львів,<br>
            вул. Віктора Павліка 45/2</p>
        </li>
        <li class="address-card__item">
          <svg class="address-card__item-icon">
            <use xlink:href="#address"></use>
          </svg>
          <p class="address-card__item-text">Україна, м. Львів,<br>
            вул. Іво Бобула 45/2</p>
        </li>
      </ul>
    </div>
    <div class="section-contact__map">
      <div class='card-info card-info--active'>
        <h3 class='card-info__title'>Україна, м. Львів,<br> вул. Степана Гіги 45/2
        </h3>
        <ul class='info-list'>
          <li class='info-list__item'>
            <img src='images/icons/icon-phone.png' alt='phone'>
            <p class='info-list__item-text'>+38(000) 000 00 00</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-email.png' alt='email'>
            <p class='info-list__item-text'>ibanabanana@gmail.com</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-time.png' alt='time'>
            <p class='info-list__item-text'>
              Понеділок - П’ятниця: 09:00 - 19:00<br class='info-list__item-br'>
              Субота: 09:00 - 14:00<br class='info-list__item-br'>
              Неділя: зачинено
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-facebook.png' alt='time'>
            <p class='info-list__item-text'>
              Наш фейсбук
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-instagram.png' alt='time'>
            <p class='info-list__item-text'>
              Наш інстахрам
            </p>
          </li>
        </ul>
      </div>
      <div class='card-info'>
        <h3 class='card-info__title'>Україна, м. Львів,<br>
          вул. Павла Зіборва 45/2
        </h3>
        <ul class='info-list'>
          <li class='info-list__item'>
            <img src='images/icons/icon-phone.png' alt='phone'>
            <p class='info-list__item-text'>+38(000) 000 00 00</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-email.png' alt='email'>
            <p class='info-list__item-text'>ibanabanana@gmail.com</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-time.png' alt='time'>
            <p class='info-list__item-text'>
              Понеділок - П’ятниця: 09:00 - 19:00<br class='info-list__item-br'>
              Субота: 09:00 - 14:00<br class='info-list__item-br'>
              Неділя: зачинено
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-facebook.png' alt='time'>
            <p class='info-list__item-text'>
              Наш фейсбук
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-instagram.png' alt='time'>
            <p class='info-list__item-text'>
              Наш інстахрам
            </p>
          </li>
        </ul>
      </div>
      <div class='card-info'>
        <h3 class='card-info__title'>Україна, м. Львів,<br>
          вул. Віктора Павліка 45/2
        </h3>
        <ul class='info-list'>
          <li class='info-list__item'>
            <img src='images/icons/icon-phone.png' alt='phone'>
            <p class='info-list__item-text'>+38(000) 000 00 00</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-email.png' alt='email'>
            <p class='info-list__item-text'>ibanabanana@gmail.com</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-time.png' alt='time'>
            <p class='info-list__item-text'>
              Понеділок - П’ятниця: 09:00 - 19:00<br class='info-list__item-br'>
              Субота: 09:00 - 14:00<br class='info-list__item-br'>
              Неділя: зачинено
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-facebook.png' alt='time'>
            <p class='info-list__item-text'>
              Наш фейсбук
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-instagram.png' alt='time'>
            <p class='info-list__item-text'>
              Наш інстахрам
            </p>
          </li>
        </ul>
      </div>
      <div class='card-info'>
        <h3 class='card-info__title'>Україна, м. Львів,<br>
          вул. Іво Бобула 45/2
        </h3>
        <ul class='info-list'>
          <li class='info-list__item'>
            <img src='images/icons/icon-phone.png' alt='phone'>
            <p class='info-list__item-text'>+38(000) 000 00 00</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-email.png' alt='email'>
            <p class='info-list__item-text'>ibanabanana@gmail.com</p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-time.png' alt='time'>
            <p class='info-list__item-text'>
              Понеділок - П’ятниця: 09:00 - 19:00<br class='info-list__item-br'>
              Субота: 09:00 - 14:00<br class='info-list__item-br'>
              Неділя: зачинено
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-facebook.png' alt='time'>
            <p class='info-list__item-text'>
              Наш фейсбук
            </p>
          </li>
          <li class='info-list__item'>
            <img src='images/icons/icon-instagram.png' alt='time'>
            <p class='info-list__item-text'>
              Наш інстахрам
            </p>
          </li>
        </ul>
      </div>
      <span id="map"></span>
    </div>
  </div>
</section>