<section class="section-form" id="form">
  <div class="section-form__wrapper-center">
    <div class="card-solution__wrapper-info card-solution__wrapper-info--margin">
      <div class="section-form__wrapper-image">
        <img src="/images/contact-master.png" alt="form-expert">
      </div>
    </div>
    <div class="section-form__wrapper">
      <h3 class="section-form__wrapper-subtitle">Допомога</h3>
      <h2 class="section-form__wrapper-title">Запитуйте у <br>
        <span class="section-form__wrapper-title--pink">професіоналів</span>
      </h2>
      <form class="form-contact" method="post" autocomplete="off">
        <div class="form-contact__wrapper">
          <div class="form-contect__box-input">
            <label for="name" class="form-contact__wrapper-label">Ім’я*
            </label>
            <input type="text" class="form-contact__wrapper-input" id="name" required minlength="3">
            <img src="/images/icons/icon-error-cross.png" alt="error" class="form-contact__wrapper-accept">
            <img src="/images/icons/icon-success.png" alt="success" class="form-contact__wrapper-accept">
          </div>
          <span class="form-contact__wrapper-content">
            <img src="/images/icons/icon-error.png">
            <p class="form-contact__wrapper-error">Введіть мінімум 3 символи</p>
          </span>
        </div>
        <div class="form-contact__wrapper">
          <div class="form-contect__box-input">
            <label for="phone" class="form-contact__wrapper-label">Телефон
            </label>
            <input type="tel" class="form-contact__wrapper-input" id="phone" maxlength="13"
              pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}" placeholder="+38 (000) _ _ _-_ _-_ _">
            <img src="/images/icons/icon-error-cross.png" alt="error" class="form-contact__wrapper-accept">
            <img src="/images/icons/icon-success.png" alt="success" class="form-contact__wrapper-accept">
          </div>
          <span class="form-contact__wrapper-content">
            <img src="/images/icons/icon-error.png">
            <p class="form-contact__wrapper-error">Введіть мінімум 3 символи</p>
          </span>
        </div>
        <div class="form-contact__wrapper">
          <div class="form-contect__box-input">
            <label for="email" class="form-contact__wrapper-label">Email *
            </label>
            <input type="email" class="form-contact__wrapper-input" id="email">
            <img src="/images/icons/icon-error-cross.png" alt="error" class="form-contact__wrapper-accept">
            <img src="/images/icons/icon-success.png" alt="success" class="form-contact__wrapper-accept">
          </div>
          <span class="form-contact__wrapper-content">
            <img src="/images/icons/icon-error.png">
            <p class="form-contact__wrapper-error">Ваша пошта неправильна. Приклад: user1@example.com</p>
          </span>
        </div>

        <div class="form-contact__wrapper">
          <div class="form-contact__select">
            <select>
              <option value="0">Оберіть пункт</option>
              <option value="1">Пунк 1</option>
              <option value="2">Пунк 2</option>
              <option value="3">Пунк 3</option>
              <option value="4">Пунк 4</option>
            </select>
          </div>
        </div>

        <div class="form-contact__block">
          <label class="form-contact__block-label">Checkbox 1
            <input type="checkbox">
            <span class="form-contact__block-checkmark"></span>
          </label>
          <label class="form-contact__block-label">Checkbox 2
            <input type="checkbox">
            <span class="form-contact__block-checkmark"></span>
          </label>
          <label class="form-contact__block-label">Checkbox 3
            <input type="checkbox">
            <span class="form-contact__block-checkmark"></span>
          </label>
        </div>


        <div class="form-contact__block">
          <label class="form-contact__radio">Radiobutton 1
            <input type="radio" id='radio1'>
            <span class="form-contact__radio-checkmark"></span>
          </label>
          <label class="form-contact__radio">Radiobutton 2
            <input type="radio" id='radio2'>
            <span class="form-contact__radio-checkmark"></span>
          </label>
          <label class="form-contact__radio">Radiobutton 3
            <input type="radio" id='radio3'>
            <span class="form-contact__radio-checkmark"></span>
          </label>
        </div>

        <textarea class="form-contact__textarea" placeholder="Коментар"></textarea>

        <button class="card-slider__button" type="submit">Відправити дані </button>
      </form>
    </div>
  </div>
</section>