%container {
  margin: 0 auto;
  max-width: $max-width-container;
  width: 100%;
}

%image-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

%center {
  margin: 0 auto;
}

%button {
  cursor: pointer;
  border: none;
  outline: none;
}

%section {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 10px;

  @include desktop-media {
    padding: 20px;
  }
}