@mixin flex-constructor($justify-content: flex-start,
  $align-items: stretch,
  $direction: row,
  $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}


@mixin text-constructor($size, $weight: 400, $color: $text-main-color, $font-family: $font-family-main) {
  font-size: $size;
  font-weight: $weight;
  font-family: $font-family;
  color: $color;
  @content;
}

@mixin image-padding-hack($padding: 50%, $size: contain) {
  position: relative;
  height: 0;
  padding-bottom: $padding;

  img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: $size;
  }
}

@mixin box-size($width: 10px, $height: 10px) {
  width: $width;
  height: $height;
}

@mixin svg-constructor($width: 32px, $height: 32px, $fill: black) {
  width: $width;
  height: $height;
  fill: $fill;
}

@mixin iphone-media {
  @media (min-width: $screen-iphone) {
    @content;
  }
}

@mixin iphone-plus-media {
  @media (min-width: $screen-iphone-plus) {
    @content;
  }
}

@mixin tablet-media {
  @media (min-width: $screen-tablet) {
    @content;
  }
}

@mixin desktop-media {
  @media (min-width: $screen-desktop) {
    @content;
  }
}

@mixin desktop-large-media {
  @media (min-width: $screen-desktop-large) {
    @content;
  }
}