// Text Colors
$text-main-color: #424242;
$text-primary-color: #F61067;
$text-second-color: #000;
$text-light-color: #FFF;
$text-dark-color: #130430;

// Background Colors
$background-main-color: #F61067;
$background-primary-color: #F93E85;
$background-second-color: #DC0254;
$background-light-color: #fff;
$background-dark-color: #150433;

// Icon Colors
$icon-main-color: #F4F4ED;
$icon-primary-color: #F61067;
$icon-dark-color: #000000;
$icon-light-color: #fff;

// Border Colors
$border-main-color: #484848;
$border-primary-color: #C4C4C40D;
$border-dark-color: #150433;
$border-light-color: #fff;

// Text Family
$font-family-main: 'Georgia';
$font-family-primary: 'Lato',
sans-serif;
$font-family-second: 'Noticia Text',
serif;
$font-family-open: 'Open Sans',
sans-serif;

// Radius Box
$box-radius-main: 4px;
$box-radius-half: 50%;

// Text Size
$font-size-ultraSmall: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-ultraMedium: 20px;
$font-size-big: 24px;
$font-size-ultraBig: 30px;
$font-size-large: 50px;
$font-size-ultraLarge: 100px;

// Text Weight
$font-weigth-main: 400;
$font-weigth-primary: 500;
$font-weigth-second: 600;
$font-weigth-bold: 700;

// Container Width
$max-width-container: 1180px;
$max-width-slider: 960px;

// Screen Width
$screen-small-mobile: 320px;
$screen-iphone: 375px;
$screen-iphone-plus: 414px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1230px;