.card-solution__content {
  @include flex-constructor(flex-start, flex-start, column);
  max-width: 420px;
  width: 100%;
  margin-bottom: 20px;

  @include desktop-media {
    margin-bottom: 0;
    margin-right: 50px
  }
}

.card-solution__title {
  @include text-constructor($font-size-ultraLarge, $font-weigth-main, $text-primary-color, $font-family-main);
  margin-bottom: 5px;
  line-height: 150%;

  @include desktop-media {
    font-size: 150px;
  }
}

.card-solution__text {
  @include text-constructor($font-size-medium, $font-weigth-primary, $text-main-color, $font-family-primary);
  line-height: 150%;

  @include desktop-media {
    font-size: $font-size-ultraMedium;
  }
}

.card-solution__wrapper-info {
  position: relative;
}

.card-solution__block {
  position: absolute;
  @include flex-constructor(center, center, column);
  background-color: $background-dark-color;
  padding: 20px;
  top: -1px;
  right: -1px;
  width: 100%;
  max-width: 43%;
  max-height: 540px;
  height: 57%;

  @include desktop-media {
    max-width: 40%;
  }

  @include desktop-large-media {
    right: -45%;
    padding: 20px 40px;
    height: 69%;
    max-width: 70%;
  }
}

.card-solution__block-text {
  @include text-constructor($font-size-medium, $font-weigth-bold, $text-light-color, $font-family-primary);
  font-style: italic;
  line-height: 150%;
  text-align: center;

  @include desktop-large-media {
    font-size: $font-size-ultraBig;
  }
}

.card-solution__block-icon {
  position: absolute;
  @include text-constructor($font-size-large, $font-weigth-bold, $icon-main-color, $font-family-second);
  text-align: center;
  opacity: 0.25;

  &:first-child {
    top: 17px;
  }

  &:last-child {
    bottom: -27px;
  }

  @include desktop-large-media {
    line-height: 150px;
    font-size: 144px;
  }
}

.card-solution__wrapper-image {
  position: relative;
  padding: 20px;
  max-width: 460px;
  width: 100%;
  @include image-padding-hack(1%, cover);
  max-height: 740px;
  height: 100%;
  z-index: 2;


  &:after {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    background-color: $background-dark-color;
    top: -15px;
    left: 50%;
    width: 2000px;
    max-height: 550px;
    height: 60%;
    z-index: -1;
  }

  @include iphone-plus-media {
    &::after {

      height: 59%;
    }
  }


  @include desktop-media {
    &::after {
      height: 74%;
      top: -36px;
    }
  }
}

.card-solution {
  @include flex-constructor(flex-start, flex-start, column);
  max-width: 935px;
  width: 100%;

  &:nth-child(2n) {
    .card-solution__wrapper-image {
      &::after {
        display: none;
      }

      &:before {
        content: '';
        display: block;
        clear: both;
        position: absolute;
        background-color: $background-dark-color;
        top: -15px;
        right: 50%;
        width: 2000px;
        max-height: 550px;
        height: 61%;
        z-index: -1;
      }

      @include iphone-plus-media {
        &::before {
          height: 59%;
        }
      }
    }

    .card-solution__block {
      left: -1px;
    }
  }


  @include desktop-media {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0;


    &:nth-child(2n) {
      flex-direction: row-reverse;

      .card-solution__wrapper-image {
        &::after {
          display: none;
        }

        &:before {
          content: '';
          display: block;
          clear: both;
          position: absolute;
          background-color: $background-dark-color;
          top: -15px;
          right: 50%;
          width: 2000px;
          max-height: 550px;
          height: 78%;
          z-index: -1;
        }
      }

      .card-solution__block {
        padding: 22px 40px;
        left: -100px;
        height: 75%;
        max-width: 50%;
      }

      .card-solution__wrapper-info {
        margin-right: 50px;
      }
    }
  }
}

.card-solution__wrapper-info--margin {
  @include desktop-media {
    margin-right: 75px;
  }
}