.card-slider {
  @include flex-constructor(center, center, column);
  display: flex !important;

  @include desktop-media {

    @include flex-constructor(flex-start, flex-start, column);
  }
}

.card-slider__title {
  @include text-constructor($font-size-ultraBig, $font-weigth-bold, $text-light-color);
  line-height: 118.8%;
  margin-bottom: 50px;

  @include tablet-media {
    font-size: $font-size-large;
  }

  @include desktop-media {
    font-size: $font-size-ultraLarge;
  }
}

.card-slider__title--pink {
  color: $text-primary-color;
}

.card-slider__text {
  @include text-constructor($font-size-medium, $font-weigth-main, $text-light-color, $font-family-primary);
  line-height: 31px;
  max-width: 420px;
  width: 100%;
  margin-bottom: 18px;

  @include desktop-media {
    font-size: $font-size-ultraMedium
  }
}

.card-slider__button {
  @extend %button;
  @include text-constructor($font-size-ultraMedium, $font-weigth-main, $text-light-color, $font-family-primary);
  background-color: $background-main-color;
  border-radius: $box-radius-main;
  line-height: 25px;
  padding: 20px 50px;
  transition: all 0.2s ease;

  @include desktop-media {
    &:hover {
      background-color: $background-primary-color;
    }

    &:active {
      background-color: $background-second-color;
    }
  }
}

.card-slider__button-arrow {
  display: none !important;
  position: relative;
  @include flex-constructor(center, center, column);
  @include box-size(48px, 48px);
  @extend %button;
  top: 50%;
  transform: translateY(-50%);
  border-radius: $box-radius-half;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid $border-light-color;

  @include desktop-large-media {
    display: flex !important;

    &:hover {

      .card-slider__button-line:nth-child(3) {
        width: 38px;
        transform: translate(-12px, -1px);
      }
    }
  }
}

.card-slider__button-arrow--left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transform: rotate(180deg) translateX(100px);
}

.card-slider__button-arrow--right {
  position: relative;
  top: 215px;
  left: 1030px;
  transform: translateY(0px);
}

.card-slider__button-line {
  width: 5px;
  height: 1px;
  background-color: $background-light-color;
  transition: all 0.2s ease;

  &:nth-child(1) {
    border-radius: 8px;
    transform: rotate(135deg) translate(-3px, -6px);
    background-color: rgba(255, 255, 255, );
  }

  &:nth-child(2) {
    border-radius: 8px;
    transform: rotate(-135deg) translate(-3px, 6px);
    background-color: rgba(255, 255, 255, );
  }

  &:nth-child(3) {
    height: 1px;
    width: 14px;
    transform: translate(1px, -1px);
  }
}

.card-slider__wrapper {
  max-width: $max-width-slider;
  width: 100%;
  margin: auto;
}

.slick-dotted.slick-slider {
  margin: auto;
}

.slick-dots button {
  transition: all 0.2s ease;
}

.slick-list {
  position: static;
}

.slick-track {
  position: static;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  margin: 0 auto;
  max-width: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  @include tablet-media {
    bottom: 70px;
  }
}

.slick-dots li {
  transition: all 0.2s ease;

  @include desktop-media {
    &:hover {
      button:before {
        background-color: $background-primary-color;
      }
    }
  }
}

.slick-dots li button:before {
  content: '';
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: $background-light-color;
  text-align: center;
  opacity: 1;
  color: $icon-main-color;
  border-radius: $box-radius-half;
  transition: all 0.2 ease;

}

.slick-dots .slick-active button::before {
  background-color: $background-main-color;
}