.section-solution {
  @extend %section;
  background-color: $background-light-color;
  overflow: hidden;

  @include desktop-media {
    padding: 120px 20px 150px 20px;
  }
}

.section-solution__container {
  @include flex-constructor(center, center, column);
  margin: 0 auto;
  max-width: 970px;
}

.section-solution__subtitle {
  align-self: flex-start;
  @include text-constructor($font-size-medium, $font-weigth-second, $text-main-color, $font-family-primary);

  @include desktop-media {
    font-size: $font-size-big;
  }
}


.section-solution__title--pink {
  color: $text-primary-color
}

.section-solution__title {
  align-self: flex-start;
  @include text-constructor($font-size-ultraMedium, $font-weigth-bold, $text-dark-color, $font-family-main);
  line-height: 157%;

  @include tablet-media {
    margin-bottom: 53px;
  }

  @include desktop-media {
    font-size: $font-size-large;
  }
}